<div class="container">
  <div class="row">
    <div class="col">
      <h1>How to play?</h1>
      <p>Well, this game is quite simple.</p>
      <p>Use arrow keys to navigate white bulb - a walker. <br />
        You need to go through brown blocks from start to finish side. And that's it! Simply right?</p>
      <p>
        If you need more info please contact with me via email: kontakt@iloveweb.pl
      </p>
      <p><a class="btn btn-outline-dark" href="#" routerLink="home">Go to game</a></p>
    </div>
  </div>
</div>